<!DOCTYPE html>
<html>
  <head>
    <title>Soccer kingのking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="title">SOCCERKING</div>
    <div class="level"></div>
    <div class="hp">
      <div class="hp-value">100</div>
      <div class="hp-gauge"></div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
