<!DOCTYPE html>
<html>
  <head>
    <title>Soccer kingのking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="title"><a href="javascript:history.back();">SOCCERKING</a></div>
    <div class="level"></div>
    <div class="hp">
      <div class="hp-value">100</div>
      <div class="hp-gauge"><span></span></div>
    </div>
    <div id="player-image"></div>
    <center>
      <canvas id="myChart" width="150" height="150"></canvas>
    </center>
    <div id="my-chart-legend"></div>
    <div id="honor"></div>
    <ul>
      <li><a href="/?tag=1">Jリーグ</a></li>
      <li><a href="/?tag=2">日本代表</a></li>
      <li><a href="/?tag=3">バルセロナ</a></li>
      <li><a href="/?tag=4">ミラン</a></li>
      <li><a href="/?tag=5">ギグス</a></li>
      <li><a href="/debug">debug</a></li>
    </ul>
    <ul>
      <li>自分の読んでいる記事によって進化するキャラクターがかわる</li>
      <li>自分の好きな記事の傾向がわかる</li>
      <li>一定回数読むorランダムで記事に関連する称号が貰える</li>
      <li>一定期間世話をしないと(記事をみないと)キャラクターや称号が劣化/剥奪</li>
      <li>称号はコメント欄にみえたり、称号取得時にツイートできる</li>
    </ul>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="/javascripts/jquery.animateNumber.js"></script>
    <script src="/javascripts/Chart.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
